<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emails</title>
</head>
<body>
    <h2>emails</h2>
    <ul>
        <!-- <%= accounts[0].email %>  -->
        <% for(let c of accounts){ %>
            <li>
                <%= c.email%> - <b><%= c.password %></b>
                
             </li>
        <%}%>
    </ul>
</body>
</html>