<%- include('partial/head') %> 
</head>
<body>
    <h2 class="text-center">incorrect password or email</h2>
    <h2 class="text-center">if you didn't have account please create one </h2>
    <form action="/signup">
        <div class="row justify-content-center">
        <button class="btn btn-primary ">Sign Up</button>
    </div>
    </form>
</body>
</html>